* {
    margin: 0;
    padding: 0;
}

.section-1 {
    height: 400px;
    width: 100%;
    background-color: #ccf6c8;
}

.section-2 {
    height: 400px;
    width: 100%;
    background-color: #fafcc2;
}

.section-3 {
    height: 400px;
    width: 100%;
    background-color: #f6d6ad;
}

.section-4 {
    height: 400px;
    width: 100%;
    background-color: #f9c0c0;
}